@mixin center($elementWidth, $elementMargin: 0 auto) {
    max-width: $elementWidth;
    margin: $elementMargin;
}

@mixin siteButton($btnPadding, $btnRadius, $btnBg: #79addc) {
    padding: $btnPadding;
    border-radius: $btnRadius;
    background-color: $btnBg;
}