// .Package {
    
// }
.Israel1 {
        @include center(981px, 48.5px auto 0 auto);
        height: 413px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../images/tour/tour-01.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        position: relative;
        span {
            text-transform: uppercase;
            color: $white;
            font-family: Proxima;
            font-size: 60px;
        }
        .lowerRight {
            position: absolute;
            bottom: 0;
            right: 0;
            color: $white;
            font-family: Proxima;
            font-size: 30px;
        }
    }
    .USA1 {
        @include center(981px, 48.5px auto 0 auto);
        height: 413px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../images/tour/tour-02.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        position: relative;
        span {
            text-transform: uppercase;
            color: $white;
            font-family: Proxima;
            font-size: 60px;
        }
        .lowerRight {
            position: absolute;
            bottom: 0;
            right: 0;
            color: $white;
            font-family: Proxima;
            font-size: 30px;
        }
    }
    .AUS1 {
        @include center(981px, 48.5px auto 0 auto);
        height: 413px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../images/tour/tour-03.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        position: relative;
        span {
            text-transform: uppercase;
            color: $white;
            font-family: Proxima;
            font-size: 60px;
        }
        .lowerRight {
            position: absolute;
            bottom: 0;
            right: 0;
            color: $white;
            font-family: Proxima;
            font-size: 30px;
        }
    }
    .NewZ1 {
        @include center(981px, 48.5px auto 0 auto);
        height: 413px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../images/tour/tour-04.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        position: relative;
        span {
            text-transform: uppercase;
            color: $white;
            font-family: Proxima;
            font-size: 60px;
        }
        .lowerRight {
            position: absolute;
            bottom: 0;
            right: 0;
            color: $white;
            font-family: Proxima;
            font-size: 30px;
        }
    }
    .France1 {
        @include center(981px, 48.5px auto 0 auto);
        height: 413px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../images/tour/tour-05.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        position: relative;
        span {
            text-transform: uppercase;
            color: $white;
            font-family: Proxima;
            font-size: 60px;
        }
        .lowerRight {
            position: absolute;
            bottom: 0;
            right: 0;
            color: $white;
            font-family: Proxima;
            font-size: 30px;
        }
    }
    .Egypt1 {
        @include center(981px, 48.5px auto 0 auto);
        height: 413px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../images/tour/tour-06.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        position: relative;
        span {
            text-transform: uppercase;
            color: $white;
            font-family: Proxima;
            font-size: 60px;
        }
        .lowerRight {
            position: absolute;
            bottom: 0;
            right: 0;
            color: $white;
            font-family: Proxima;
            font-size: 30px;
        }
    }
    .Japan1 {
        @include center(981px, 48.5px auto 0 auto);
        height: 413px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../images/tour/tour-07.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        position: relative;
        span {
            text-transform: uppercase;
            color: $white;
            font-family: Proxima;
            font-size: 60px;
        }
        .lowerRight {
            position: absolute;
            bottom: 0;
            right: 0;
            color: $white;
            font-family: Proxima;
            font-size: 30px;
        }
    }
    .Canada1 {
        @include center(981px, 48.5px auto 0 auto);
        height: 413px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../images/tour/tour-08.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        position: relative;
        span {
            text-transform: uppercase;
            color: $white;
            font-family: Proxima;
            font-size: 60px;
        }
        .lowerRight {
            position: absolute;
            bottom: 0;
            right: 0;
            color: $white;
            font-family: Proxima;
            font-size: 30px;
        }
    }
    .UAE1 {
        @include center(981px, 48.5px auto 0 auto);
        height: 413px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../images/tour/tour-09.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        position: relative;
        span {
            text-transform: uppercase;
            color: $white;
            font-family: Proxima;
            font-size: 60px;
        }
        .lowerRight {
            position: absolute;
            bottom: 0;
            right: 0;
            color: $white;
            font-family: Proxima;
            font-size: 30px;
        }
    }
    .three-columns {
        @include center(818px, 48px auto 0 auto);
        min-height: 347px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .Tourimg {
            width: 236px;
            height: 310px;
            margin-bottom: 20px;
        }
        .image-one {
            background-image: url(../images/tour/tour-israel/israel-tour-01.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-two {
            background-image: url(../images/tour/tour-israel/israel-tour-02.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-three {
            background-image: url(../images/tour/tour-israel/israel-tour-03.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-four {
            background-image: url(../images/tour/tour-usa/usa-tour-01.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-five {
            background-image: url(../images/tour/tour-usa/usa-tour-02.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-six {
            background-image: url(../images/tour/tour-usa/usa-tour-03.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-seven {
            background-image: url(../images/tour/tour-aus/aus-tour-01.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-eight {
            background-image: url(../images/tour/tour-aus/aus-tour-02.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-nine {
            background-image: url(../images/tour/tour-aus/aus-tour-03.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-ten {
            background-image: url(../images/tour/tour-nz/nz-tour-01.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-elv {
            background-image: url(../images/tour/tour-nz/nz-tour-02.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-twl {
            background-image: url(../images/tour/tour-nz/nz-tour-03.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-thirteen {
            background-image: url(../images/tour/tour-france/france-tour-01.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-fourteen {
            background-image: url(../images/tour/tour-france/france-tour-02.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-fifteen {
            background-image: url(../images/tour/tour-france/france-tour-03.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-sixteen {
            background-image: url(../images/tour/tour-egypt/egypt-tour-01.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-seventeen {
            background-image: url(../images/tour/tour-egypt/egypt-tour-02.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-eighteen {
            background-image: url(../images/tour/tour-egypt/egypt-tour-03.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-19 {
            background-image: url(../images/tour/tour-japan/japan-tour-01.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-20 {
            background-image: url(../images/tour/tour-japan/japan-tour-02.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-21 {
            background-image: url(../images/tour/tour-japan/japan-tour-03.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-22 {
            background-image: url(../images/tour/tour-canada/canada-tour-01.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-23 {
            background-image: url(../images/tour/tour-canada/canada-tour-02.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-24 {
            background-image: url(../images/tour/tour-canada/canada-tour-03.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-25 {
            background-image: url(../images/tour/tour-uae/uae-tour-01.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-26 {
            background-image: url(../images/tour/tour-uae/uae-tour-02.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .image-27 {
            background-image: url(../images/tour/tour-uae/uae-tour-03.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    .text {
        @include center(981px, 48px auto 0 auto);
        min-height: 776px;
        #border {
            height: 53px;
            width: 345px;
            position: relative;
            margin-bottom: 39px;
            #border-bottom {
                position: absolute;
                border-bottom: $black solid 1px;
                width: 20%;
                white-space: nowrap;
            }
        }
        .Day {
            h3 {
                font-size: 60px;
                font-family: Proxima;
            }
            p {
                font-size: 16px;
                font-family: Gill;
            }
        }
    }
    .book-button {
        @include siteButton(10px 10px, 40px);
        margin: 10px auto 200px auto;
        max-width: 133px;
        min-height: 40px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 100px;
    }

@media all and (max-width: 1200px) {
    .three-columns {
        flex-direction: column;
        align-items: center;
    }
    .book-button {
        @include siteButton(5px 10px, 40px);
        margin: 0 auto;
        max-width: 133px;
        min-height: 40px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 100px;
    }
}
